<div class="fix-overflow">
    <h3>Recent Approvals</h3>

    <a href="#seeAllRecentApprovals" class="see_all">See All</a>
</div>

<ul>
    <li>
        <p class="title"><strong>Agent Name: Jayshree</strong></p>

        <p class="details">Customer: Customer Name</p>

        <p><a href="#seeApprovalsDetails" class="see-details">See Details</a></p>
    </li>
    <li>
        <p class="title"><strong>Agent Name: Jayesh</strong></p>

        <p class="details">Customer: Customer Name</p>

        <p><a href="#seeApprovalsDetails" class="see-details">See Details</a></p>
    </li>
</ul>