
<input type="text" value="Search" class="search-input" id="ordersAutoSearchCustomers">
<a href="#clearSearch" class="clear_search"><img src="themes/images/icons-png/delete-black.png"> Clear Search</a>
<div id="ordersAutoSearchCustomersResults" class="auto-search"></div>
<div id="selectCustomerDropdownPanel" class="select_customer_dropdown_panel">
    <p>or</p>

    <select id="selectCustomerDropdown" class="select-input">
        <option>Select Customer</option>
        <option value="customer-a">Customer A</option>
        <option value="customer-b">Customer B</option>
        <option value="customer-c">Customer C</option>
    </select>
</div>
