@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="reports">
    <select id="reportsddl" class="select-input">
        <option value="all">Select report</option>
        <option value="agent">Agent Report</option>
        <option value="customer">Customer Report</option>
        <option value="BD">BD Report</option>
        <option value="orderbook">OrderBook Report</option>
    </select>
</div>



<div id="agentddl" class="hidden">
    @Html.DropDownList("agentList", (SelectList)ViewBag.AgentList, "All", new { @class = "select-input", @value = "all" })

    <div id="checkboxChecked" class="hidden">
        <input type="checkbox" value="Under Planning" class="checkboxChecked"> Under Planning
        <input type="checkbox" value="Planned" class="checkboxChecked"> Planned
        <input type="checkbox" value="In Warehouse" class="checkboxChecked"> FG
        <input type="checkbox" value="Dispatched" class="checkboxChecked"> Dispatched
    </div>
</div>
<div id="orderBook" class="hidden">
    @Html.DropDownList("agentList1", (SelectList)ViewBag.AgentList, "All", new { @class = "select-input", @value = "all" })
    <input type="text" id="customerName" class="text-input" />
</div>
<div id="fromdtTodt">
    <table>

        <tr>
            <td>
                To:
            </td>
            <td>
                <select id="fromDateDay" class="date-select-input">
                    <option>DD</option>
                    <option value="01">01</option>
                    <option value="02">02</option>
                    <option value="03">03</option>
                    <option value="04">04</option>
                    <option value="05">05</option>
                    <option value="06">06</option>
                    <option value="07">07</option>
                    <option value="08">08</option>
                    <option value="09">09</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                    <option value="13">13</option>
                    <option value="14">14</option>
                    <option value="15">15</option>
                    <option value="16">16</option>
                    <option value="17">17</option>
                    <option value="18">18</option>
                    <option value="19">19</option>
                    <option value="20">20</option>
                    <option value="21">21</option>
                    <option value="22">22</option>
                    <option value="23">23</option>
                    <option value="24">24</option>
                    <option value="25">25</option>
                    <option value="26">26</option>
                    <option value="27">27</option>
                    <option value="28">28</option>
                    <option value="29">29</option>
                    <option value="30">30</option>
                    <option value="31">31</option>
                </select>
            </td>
            <td>
                <select class="date-select-input" id="fromDateMonth">
                    <option>MM</option>
                    <option value="01">01</option>
                    <option value="02">02</option>
                    <option value="03">03</option>
                    <option value="04">04</option>
                    <option value="05">05</option>
                    <option value="06">06</option>
                    <option value="07">07</option>
                    <option value="08">08</option>
                    <option value="09">09</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                </select>
            </td>
            <td>
                <select class="date-select-input year" id="fromDateYear">
                    <option>YYYY</option>
                    <option value="2015">2015</option>
                    <option value="2016">2016</option>
                    <option value="2017">2017</option>
                    <option value="2018">2018</option>
                    <option value="2019">2019</option>
                    <option value="2020">2020</option>
                </select>
            </td>
        </tr>

        <tr>
            <td>
                From:
            <td>
                <select id="toDateDay" class="date-select-input">
                    <option>DD</option>
                    <option value="01">01</option>
                    <option value="02">02</option>
                    <option value="03">03</option>
                    <option value="04">04</option>
                    <option value="05">05</option>
                    <option value="06">06</option>
                    <option value="07">07</option>
                    <option value="08">08</option>
                    <option value="09">09</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                    <option value="13">13</option>
                    <option value="14">14</option>
                    <option value="15">15</option>
                    <option value="16">16</option>
                    <option value="17">17</option>
                    <option value="18">18</option>
                    <option value="19">19</option>
                    <option value="20">20</option>
                    <option value="21">21</option>
                    <option value="22">22</option>
                    <option value="23">23</option>
                    <option value="24">24</option>
                    <option value="25">25</option>
                    <option value="26">26</option>
                    <option value="27">27</option>
                    <option value="28">28</option>
                    <option value="29">29</option>
                    <option value="30">30</option>
                    <option value="31">31</option>
                </select>
            </td>
            <td>
                <select class="date-select-input" id="toDateMonth">
                    <option>MM</option>
                    <option value="01">01</option>
                    <option value="02">02</option>
                    <option value="03">03</option>
                    <option value="04">04</option>
                    <option value="05">05</option>
                    <option value="06">06</option>
                    <option value="07">07</option>
                    <option value="08">08</option>
                    <option value="09">09</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                </select>
            </td>
            <td>
                <select class="date-select-input year" id="toDateYear">
                    <option>YYYY</option>
                    <option value="2015">2015</option>
                    <option value="2016">2016</option>
                    <option value="2017">2017</option>
                    <option value="2018">2018</option>
                    <option value="2019">2019</option>
                    <option value="2020">2020</option>
                </select>
            </td>
        </tr>

    </table>
    <a href="#searchbtn" class="btn">Search</a>
    <div id="downloadAgentReport">
    </div>
</div>

<script type="text/javascript">

    //$('#fromdtTodt').on('click', 'a[href="#searchbtn"]', function () {
    //    debugger;
    //    var allVals = [];
    //    $('#checkboxChecked :checked').each(function () {
    //        allVals.push($(this).val());
    //    });
    //    var type = $('#reportsddl').val();
    //    var agentId = $('#agentList').val();
    //    var fromdt = $('#fromDateDay').val() + "/" + $('#fromDateMonth').val() + "/" + $('#fromDateYear').val();
    //    var todt = $('#toDateDay').val() + "/" + $('#toDateMonth').val() + "/" + $('#toDateYear').val();
    //    if (type == "agent") {
    //        var allvalues = {
    //            agentId: agentId,
    //            status: allVals,
    //            fromdt: fromdt,
    //            todt: todt,
    //        }
    //        $.ajax(
    //    {
    //        cache: false,
    //        type: "POST",
    //        url: "/home/GetAgentReport/?allVals=" + allVals,
    //        data: allvalues,
    //        contentType: "application/text; charset=utf-8",
    //        success: function (data) {
    //            $('#downloadAgentReport').show();
    //            $('#downloadAgentReport').html(data);
    //        },
    //        error: function (xhr, ajaxOptions, thrownError) {

    //        }
    //    });
    //    }
    //    else if (type == "orderbook") {
    //        var customerOrOrderType = "";
    //        var allvalues = "";
    //        if (customerOrOrderType == "customer") {
    //            allvalues = {
    //                customerId: customerId,
    //                customerOrOrderType:customerOrOrderType,
    //                fromdt: fromdt,
    //                todt: todt,
    //            }
    //        } else {
    //            allvalues = {
    //                agentId: agentId,
    //                customerOrOrderType: customerOrOrderType,
    //                fromdt: fromdt,
    //                todt: todt,
    //            }
    //        }

    //        $.ajax(
    //    {
    //        cache: false,
    //        type: "POST",
    //        url: "/home/OrderBookReport/",
    //        data: allvalues,
    //        contentType: "application/text; charset=utf-8",
    //        success: function (data) {
    //            $('#downloadAgentReport').show();
    //            $('#downloadAgentReport').html(data);
    //        },
    //        error: function (xhr, ajaxOptions, thrownError) {

    //        }
    //    });
    //    }
    //    else if (type == "fg") {
    //        var allvalues = {
    //            agentId: agentId,
    //            status: allVals,
    //            fromdt: fromdt,
    //            todt: todt,
    //        }
    //        $.ajax(
    //    {
    //        cache: false,
    //        type: "POST",
    //        url: "/home/FGReport/",
    //        data: allvalues,
    //        contentType: "application/text; charset=utf-8",
    //        success: function (data) {
    //            $('#downloadAgentReport').show();
    //            $('#downloadAgentReport').html(data);
    //        },
    //        error: function (xhr, ajaxOptions, thrownError) {

    //        }
    //    });
    //    }
    //    else if (type == "BD") {
    //        var allvalues = {
    //            agentId: agentId,
    //            status: allVals,
    //            fromdt: fromdt,
    //            todt: todt,
    //        }
    //        $.ajax(
    //    {
    //        cache: false,
    //        type: "POST",
    //        url: "/home/BDreport/",
    //        data: allvalues,
    //        contentType: "application/text; charset=utf-8",
    //        success: function (data) {
    //            $('#downloadAgentReport').show();
    //            $('#downloadAgentReport').html(data);
    //        },
    //        error: function (xhr, ajaxOptions, thrownError) {

    //        }
    //    });
    //    }


   // });

    //$('#reportsddl').on('change', function () {
    //    debugger;
    //    $('#orderBook').hide();
    //    $('#agentddl').hide();
    //    $('#checkboxChecked').hide();
    //    var selectedItem = $(this).val();
    //    if (selectedItem == "agent") {
    //        $('#agentddl').show();
    //        $('#checkboxChecked').show();
    //    } else
    //        if (selectedItem == "orderbook") {
    //            $('#orderBook').show();
    //        }

    //});

</script>