
@{
    Layout = null;
}

 <p class="name">Dear @ViewBag.MachHname
</p>
<p class="details">Production Plan for @ViewBag.Machname has been created</p>
<p class="details">Production Plan No @ViewBag.PlanNo</p>
<p class="details">Schedule Start Date: @ViewBag.SchStartDate.ToString("dd MMM yyyy hh:mm tt")</p>

<p class="details">Attached is the Complete Plan for your reference
</p>
<p>regards</p>
<p>Support Team</p>
<p>support@westrock.com</p>